# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Others
derby.log

ignored
src/main/resources/static/events.json

# -- CUSTOM
!/app/src/main/resources/static/reference-data-set.zip
/app/src/main/resources/static/reference-data-set.json
/settings.json