# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Others
derby.log

ignored

# -- CUSTOM
settings.json
src/main/resources/static/*.json
*.log
