<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Vici</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarHistory" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    History
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarHistory">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item active disabled">
                <a [routerLink]="['/aggregation', selectedSystemId]" routerLinkActive="active"
                   class="nav-link btn btn-primary"
                >Aggregation</a>
            </li>

            <li class="nav-item disabled">
                <a [routerLink]="['/details', selectedDetailsTarget]" routerLinkActive="active"
                   class="nav-link">Details</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/eventchain', selectedEventId]" routerLinkActive="active" class="nav-link">Event
                    chain</a>
            </li>

            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a *ngFor="let system of systemReferences" class="dropdown-item"
                       [routerLink]="['/aggregation', system.id]">
                        {{ system.name }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/details" class="dropdown-item">Action - 1</a>
                    <a class="dropdown-item">Another Action</a>
                    <a class="dropdown-item">Something else is here</a>
                </div>
            </div>


            <li class="nav-item">
                <a class="nav-link" href="#"><span octicon="question"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span octicon="gear"></span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Event id" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>