html, body {
    height: 100%;
    margin: 0;
}

#main {
    height: 100%;
    display: flex;
    flex-flow: row;
}

#main > article {
    background: #ffffff;
    flex: 1;
    order: 1;
}

#main > nav {
    width: 250px;
    background: #000;
    order: 2;
}

.cy {
    width: 100%;
    height: 100%;
}