<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active">Vici</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarHistory" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    History
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarHistory">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item active disabled">
                <a [routerLink]="['', currentSystem, constants.views.aggregation, currentTarget]"
                   routerLinkActive="active"
                   class="nav-link btn btn-primary"
                >Aggregation</a>
            </li>

            <li class="nav-item disabled">
                <a [routerLink]="['', currentSystem, constants.views.details, currentTarget]" routerLinkActive="active"
                   class="nav-link">Details</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="['', currentSystem, constants.views.eventChain, currentTarget]"
                   routerLinkActive="active" class="nav-link">Event
                    chain</a>
            </li>

            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a *ngFor="let system of systemReferences" class="dropdown-item"
                       [routerLink]="['', system.id, constants.views.aggregation, constants.params.undefined]">
                        {{ system.name }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <!--<a routerLink="/details" class="dropdown-item">Action - 1</a>-->
                    <a class="dropdown-item">New event repository</a>
                </div>
            </div>


            <li class="nav-item">
                <a class="nav-link" href="#"><span octicon="question"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#settingsModal"><span octicon="gear"></span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Event id" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog settings-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container settings-container">
                    <div class="row">
                        <div class="col-12">
                            When changing a setting, all caches relative to that settings will be invalidated
                            automatically.

                            <!--<div *ngFor="let system of systemReferences" id="eiffelEventPreferences[{{system.id}}]">-->
                            <div *ngFor="let system of systemReferences">
                                <h3>{{system.name}}</h3>
                                <h4>General</h4>
                                <div class="input-group settings-row">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Time to keep caches (ms)</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="Positive integer"
                                           [(ngModel)]="settings.eiffelEventRepositories[system.id].preferences.cacheLifeTimeMs"/>
                                </div>

                                <h4>Aggregation</h4>
                                <div *ngFor="let type of settings.types"
                                     class="input-group settings-row">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{type}}</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder=""
                                           [(ngModel)]="settings.eiffelEventRepositories[system.id].preferences.aggregateOn[type]"/>
                                </div>

                                <h4>Details</h4>

                                <h4>Event Chain</h4>
                                <div class="input-group settings-row">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Maximum jumps</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="Positive integer"
                                           [(ngModel)]="settings.eiffelEventRepositories[system.id].preferences.eventChainMaxSteps"/>
                                </div>

                                <div class="input-group settings-row">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Maximum connections/node</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="Positive integer"
                                           [(ngModel)]="settings.eiffelEventRepositories[system.id].preferences.eventChainMaxConnections"/>
                                </div>

                                <div class="input-group settings-row">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               [(ngModel)]="settings.eiffelEventRepositories[system.id].preferences.eventChainGoUpStream"/>
                                        Follow links <b>up</b> stream</label>
                                </div>
                                <div class="input-group settings-row">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               [(ngModel)]="settings.eiffelEventRepositories[system.id].preferences.eventChainGoDownStream"/>
                                        Follow links <b>down</b> stream</label>
                                </div>
                                <div class="input-group settings-row">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               [(ngModel)]="settings.eiffelEventRepositories[system.id].preferences.eventChainTimeRelativeXAxis"/>
                                        Node x-position defined by actual timestamp</label>
                                </div>

                                <h5>Live</h5>
                                <div class="input-group settings-row">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Number of base events (latest)</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="Positive integer"
                                           [(ngModel)]="settings.eiffelEventRepositories[system.id].preferences.streamBaseEvents"/>
                                </div>
                                <div class="input-group settings-row">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Time between updates (ms)</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="Positive integer"
                                           [(ngModel)]="settings.eiffelEventRepositories[system.id].preferences.streamRefreshIntervalMs"/>
                                </div>
                            </div>
                        </div>

                        <!--<div id="settings_content"></div>-->
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button class="btn btn-warning" type="button" id="systemResetButton">
                    Reset settings <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </button>
                <button (click)="testClick()" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="aggregation-container" [hidden]="currentView !== constants.views.aggregation" class="content-container">
    <div id="aggregation_graph" class="content-container cy"></div>
</div>

<div id="details-container" [hidden]="currentView !== constants.views.details" class="content-container">
    <div id="details_table">
        <table id="details_table_table" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
    <!--<div id="details_plot_container">-->
    <!--<div id="details_plot">-->

    <!--</div>-->
    <!--<div id="details_plot_legend" class="row justify-content-start legend-container">-->

    <!--</div>-->
    <!--</div>-->
</div>

<div id="eventchain-container" [hidden]="currentView !== constants.views.eventChain" class="content-container">
    <div id="eventchain_graph" class="content-container cy"></div>
</div>
