<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cytoscape testing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" th:href="@{/styles/cytoscape/cytoscape.js-panzoom.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/cytoscape/jquery.qtip.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/font-awesome/font-awesome.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/viswiz.qtip.css}"/>

    <script th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/cytoscape/cytoscape.min.js}"></script>
    <script th:src="@{/js/cytoscape/dagre.js}"></script>
    <script th:src="@{/js/cytoscape/cytoscape-dagre.js}"></script>
    <script th:src="@{/js/cytoscape/cytoscape-panzoom.js}"></script>
    <script th:src="@{/js/cytoscape/jquery.qtip.min.js}"></script>
    <script th:src="@{/js/cytoscape/cytoscape-qtip.js}"></script>

    <script th:src="@{/js/graph.js}"></script>
</head>

<style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>

<body>
<div id="cy-qtip"></div>
<div id="cy"></div>

</body>
</html>