<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cytoscape testing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/cytoscape/cytoscape.min.js}"></script>
    <script th:src="@{/js/cytoscape/dagre.js}"></script>
    <script th:src="@{/js/cytoscape/cytoscape-dagre.js}"></script>
</head>

<style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>

<body>
<div id="cy"></div>
<script>
    $(document).ready(function () {


        $.ajax({
//            url: "http://localhost:8080/api/aggregationGraph"
            url: "http://localhost:8080/dummy.json"
        }).then(function (data) {
            const COLOR_PASS = '#22b14c';
            const COLOR_FAIL = '#af0020';
            const COLOR_UNDEFINED = '#666';
//            $('.greeting-id').append(data.id);
//            $('.greeting-content').append(data.content);
            console.log(data);


            var cy = cytoscape({
                container: document.getElementById('cy'),
                elements: data,
                layout: {
                    name: 'dagre',
                    rankDir: 'RL'
                },
                style: [
                    {
                        selector: 'node',
                        style: {
                            'background-color': COLOR_UNDEFINED,
                            'border-color': '#000',
                            'border-width': '1px',
                            'border-style': 'solid',
                            'label': 'data(id)',
                            'font-size': "16"
                        }
                    },
                    {
                        selector: 'edge',
                        style: {
                            'width': 3,
                            // 'line-color': '#ccc',
                            'curve-style': 'bezier', // To make sure edge arrows are supported
                            // 'target-arrow-color': '#ccc',
                            'target-arrow-shape': 'triangle',
                            'label': 'data(type)',
                            'text-rotation': 'autorotate',
                            'font-size': "8"
                        }
                    },

                    // Specific style
                    {
                        selector: 'node[label ^= "Act"]', // All nodes with ID Activity
                        style: {
                            'shape': 'polygon',
                            'shape-polygon-points': '-0.95 -0.77 -0.9 -0.82 -0.85 -0.87 -0.8 -0.91 -0.74 -0.94 -0.68 -0.97 -0.62 -0.98 -0.56 -1 -0.5 -1 -0.44 -1 -0.38 -0.98 -0.32 -0.97 -0.26 -0.94 -0.2 -0.91 -0.15 -0.87 -0.1 -0.82 -0.05 -0.77 0.05 -0.67 0.1 -0.62 0.15 -0.57 0.2 -0.53 0.26 -0.5 0.32 -0.47 0.38 -0.46 0.44 -0.44 0.5 -0.44 0.56 -0.44 0.62 -0.46 0.68 -0.47 0.74 -0.5 0.8 -0.53 0.85 -0.57 0.9 -0.62 0.95 -0.67 0.95 0.77 0.9 0.82 0.85 0.87 0.8 0.91 0.74 0.94 0.68 0.97 0.62 0.98 0.56 1 0.5 1 0.44 1 0.38 0.98 0.32 0.97 0.26 0.94 0.2 0.91 0.15 0.87 0.1 0.82 0.05 0.77 -0.05 0.67 -0.1 0.62 -0.15 0.57 -0.2 0.53 -0.26 0.5 -0.32 0.47 -0.38 0.46 -0.44 0.44 -0.5 0.44 -0.56 0.44 -0.62 0.46 -0.68 0.47 -0.74 0.5 -0.8 0.53 -0.85 0.57 -0.9 0.62 -0.95 0.67',
                            'height': 60,
                            'width': 100,
                            'background-color': COLOR_FAIL,
                            'background-position-x': '0px',
                            'background-image': '/images/green.png',
                            'background-height': '100%',
                            'background-width': function (ele) {
                                return (ele.data().quantities.SUCCESSFUL * 100 / ele.data().quantity).toString() + '%';
                            }
                        }
                    },
                    {
                        selector: 'node[label ^= "AP"]', // All nodes with ID Announcement Published
                        style: {
                            'shape': 'polygon',
                            'shape-polygon-points': '-0.1 0.99 -0.27 0.96 -0.43 0.9 -0.58 0.81 -0.72 0.7 -0.83 0.56 -0.91 0.41 -0.97 0.25 -1 0.07 -0.99 -0.1 -0.96 -0.27 -0.9 -0.43 -0.81 -0.58 -0.7 -0.72 -0.56 -0.83 -0.41 -0.91 -0.25 -0.97 -0.07 -1 0.1 -0.99 0.27 -0.96 0.43 -0.9 0.58 -0.81 0.72 -0.7 0.83 -0.56 0.91 -0.41 0.97 -0.25 1 -0.07 1 0 0.98 0.17 0.94 0.34 0.87 0.5 0.77 0.64 0.64 0.77 0.5 0.87 0.34 0.94 0.17 0.98 0 1 -0.33 0.07 0.51 0.16 0.45 0.1 0.4 0.05 0.29 -0.16 0.22 -0.3 0.19 -0.42 0.17 -0.5 0.16 -0.6 0.17 -0.7 0.18 -0.78 0.26 -0.7 0.3 -0.66 0.35 -0.6 0.41 -0.5 0.47 -0.4 0.49 -0.3 0.52 -0.2 0.53 -0.1 0.54 0 0.52 0.1 0.51 0.16 0.45 0.1 0.4 0.05 0.29 -0.16 0.22 -0.3 0.19 -0.42 0.17 -0.5 0.16 -0.6 0.17 -0.7 0.18 -0.78 -0.46 -0.09 -0.61 -0.05 -0.57 0.13 -0.41 0.09',
                            'height': 90,
                            'width': 90,
                        }
                    },
                    {
                        selector: 'node[label ^= "Art"]', // All nodes with ID starting with Art (Artifact)
                        style: {
                            'shape': 'polygon',
                            'shape-polygon-points': '1 -0.4 0 -0.8 -1 -0.4 0 0 1 -0.4 1 0.6 0 1 0 0 0 1 -1 0.6 -1 -0.4 0 0 1 -0.4',
                            'height': 60,
                            'width': 50,
                        }
                    },
                    {
                        selector: 'node[label ^= "ArtC"]', // All nodes with ID Artifact Created
                        style: {
                            'background-color': '#557e62',
                        }
                    },
                    {
                        selector: 'node[label ^= "ArtP"]', // All nodes with ID Artifact Published
                        style: {
                            'background-color': '#5a617e',
                        }
                    },
                    {
                        selector: 'node[label ^= "ArtR"]', // All nodes with ID Artifact Reused
                        style: {
                            'background-color': '#7e5344',
                        }
                    },
                    {
                        selector: 'node[label ^= "CDef"]', // All nodes with ID Composition Defined
                        style: {
                            'shape': 'polygon',
                            'shape-polygon-points': '1 0 1 0.6 0.5 0.8 0 0.6 -0.5 0.8 -1 0.6 -1 0 -0.5 -0.2 -0.5 -0.8 0 -1 0.5 -0.8 0.5 -0.2 1 0  0.5 0.2 0.5 0.8 0.5 0.2 0 0 0 0.6 0 0 -0.5 0.2 -0.5 0.8 -0.5 0.2 -1 0 -0.5 -0.2 0 0 0.5 -0.2 0 0 0 -0.6 -0.5 -0.8 0 -0.6 0.5 -0.8 0.5 -0.2 1 0',
                            'height': 70,
                            'width': 70,
                        }
                    },
                    {
                        selector: 'node[label ^= "CLM"]', // All nodes with ID Confidence Level
                        style: {
                            'background-color': '#fff',
                            'width': '70px',
                            'height': '70x',
                            'pie-size': '100%',
//                            'pie-1-background-size': function (ele) {
//                                return (ele.data("passed") * 100 / ele.data("length") ).toString() + '%';
//                            },
                            'pie-1-background-color': COLOR_PASS,
//                            'pie-2-background-size': function (ele) {
//                                return (ele.data("failed") * 100 / ele.data("length") ).toString() + '%';
//                            },
                            'pie-2-background-color': COLOR_FAIL,
//                            'pie-3-background-size': function (ele) {
//                                return (ele.data("inconclusive") * 100 / ele.data("length") ).toString() + '%';
//                            },
                            'pie-3-background-color': COLOR_UNDEFINED
                        }
                    },
                    {
                        selector: 'node[label ^= "CA"]', // All nodes with ID Configuration Applied
                        style: {
                            'shape': 'polygon',
                            'shape-polygon-points': '-0.1 1 -0.17 0.77 -0.32 0.72 -0.53 0.87 -0.68 0.77 -0.6 0.53 -0.68 0.38 -0.94 0.39 -1 0.22 -0.79 0.08 -0.79 -0.08 -1 -0.22 -0.94 -0.39 -0.68 -0.38 -0.6 -0.53 -0.68 -0.77 -0.53 -0.87 -0.32 -0.72 -0.17 -0.77 -0.1 -1 0.1 -1 0.17 -0.77 0.32 -0.72 0.53 -0.87 0.68 -0.77 0.6 -0.53 0.68 -0.38 0.94 -0.39 1 -0.22 0.79 -0.08 0.79 0.08 1 0.22 0.94 0.39 0.68 0.38 0.6 0.53 0.68 0.77 0.53 0.87 0.32 0.72 0.17 0.77 0.1 1',
                            'height': 70,
                            'width': 70,
                            'pie-size': '40%',
                            'pie-1-background-size': '100%',
                            'pie-1-background-color': '#fff',
                        }
                    },
                    {
                        selector: 'node[label ^= "EDef"]', // All nodes with ID Environment Defined
                        style: {
                            'shape': 'polygon',
                            'shape-polygon-points': '1 0 0.97 -0.26 0.87 -0.5 0.71 -0.71 0.5 -0.87 0.26 -0.97 ' +
                            '0 -1 -0.26 -0.97 -0.5 -0.87 -0.71 -0.71 -0.87 -0.5 -0.6 -0.6 0 -0.7 0.6 -0.6 0.87 -0.5 0.6 -0.6 0 -0.7 -0.6 -0.6 -0.87 -0.5 -0.97 -0.26 ' +
                            '-1 0 1 0 -1 0 -0.97 0.26 -0.87 0.5 -0.6 0.6 0 0.7 0.6 0.6 0.87 0.5 0.6 0.6 0 0.7 -0.6 0.6 -0.87 0.5 -0.71 0.71 -0.5 0.87 -0.6 0.6 -0.7 0 -0.6 -0.6 -0.5 -0.87 -0.6 -0.6 -0.7 0 -0.6 0.6 -0.5 0.87 -0.26 0.97 ' +
                            '0 1 0 -1 0 1 0.26 0.97 0.5 0.87 0.6 0.6 0.7 0 0.6 -0.6 0.5 -0.87 0.6 -0.6 0.7 0 0.6 0.6 0.5 0.87 0.71 0.71 0.87 0.5 0.97 0.26 1 0',
                            'height': 50,
                            'width': 50,
                            'border-width': '2px',
                        }
                    },
                    {
                        selector: 'node[label ^= "SCC"]', // All nodes with ID Source Change Created
                        style: {
                            'shape': 'polygon',
                            'shape-polygon-points': '-0.33 -0.8 -0.35 -0.81 -0.37 -0.83 -0.39 -0.85 -0.4 -0.87 -0.4 -0.9 -0.4 -0.93 -0.39 -0.95 -0.37 -0.97 -0.35 -0.99 -0.33 -1 -0.3 -1 -0.27 -1 -0.25 -0.99 -0.23 -0.97 -0.21 -0.95 -0.2 -0.93 -0.2 -0.9 -0.2 -0.9 -0.2 -0.87 -0.21 -0.85 -0.23 -0.83 -0.25 -0.81 -0.27 -0.8 -0.27 -0.64 0.25 -0.09 0.27 -0.1 0.3 -0.1 0.33 -0.1 0.35 -0.09 0.37 -0.07 0.39 -0.05 0.4 -0.03 0.4 0 0.4 0 0.4 0.03 0.39 0.05 0.37 0.07 0.35 0.09 0.33 0.1 0.3 0.1 0.27 0.1 0.25 0.09 0.23 0.07 0.21 0.05 0.2 0.03 0.2 0 -0.27 -0.5 -0.27 0.5 -0.12 0.5 -0.3 0.7 -0.48 0.5 -0.33 0.5',
                            'height': 70,
                            'width': 70,
                        }
                    },
                    {
                        selector: 'node[label ^= "SCS"]', // All nodes with ID Source Change Submitted
                        style: {
                            'shape': 'polygon',
                            'shape-polygon-points': '-0.33 -0.8 -0.35 -0.81 -0.37 -0.83 -0.39 -0.85 -0.4 -0.87 -0.4 -0.9 -0.4 -0.93 -0.39 -0.95 -0.37 -0.97 -0.35 -0.99 -0.33 -1 -0.3 -1 -0.27 -1 -0.25 -0.99 -0.23 -0.97 -0.21 -0.95 -0.2 -0.93 -0.2 -0.9 -0.2 -0.9 -0.2 -0.87 -0.21 -0.85 -0.23 -0.83 -0.25 -0.81 -0.27 -0.8 -0.27 -0.64 0.25 -0.09 0.27 -0.1 0.3 -0.1 0.33 -0.1 0.35 -0.09 0.37 -0.07 0.39 -0.05 0.4 -0.03 0.4 0 0.4 0 0.4 0.03 0.39 0.05 0.37 0.07 0.35 0.09 0.33 0.1 0.3 0.1 0.27 0.1 0.25 0.09 0.25 0.09 -0.27 0.38 -0.27 0.28 0.2 0 -0.27 -0.5 -0.27 0.5 -0.12 0.5 -0.3 0.7 -0.48 0.5 -0.33 0.5',
                            'height': 70,
                            'width': 70,
                        }
                    },
                    {
                        selector: 'node[label ^= "TC"]', // All nodes with ID Test Case
                        style: {
                            'background-color': COLOR_FAIL,
                            'shape': 'rectangle',
                            'height': 50,
                            'width': 100,
                            'background-image': '/images/green.png',
                            'background-height': '100%',
                            'background-width': function (ele) {
                                return (ele.data().quantities.SUCCESSFUL * 100 / ele.data().quantity).toString() + '%';
                            },
                            'background-position-x': '0px'
                        }
                    },
                    {
                        selector: 'node[label ^= "TS"]', // All nodes with ID Test Suite
                        style: {
                            'shape': 'rectangle',
                            'border-style': 'double', // solid, dotted, dashed, or double.
                            'border-width': '6px', // The size of the node’s border.
                            'height': 50,
                            'width': 100,
                            'background-color': COLOR_FAIL,
                            'background-position-x': '0px',
                            'background-image': '/images/green.png',
                            'background-height': '100%',
                            'background-width': function (ele) {
                                var success = ele.data().quantities.SUCCESSFUL;
                                if (success === undefined) {
                                    success = 0;
                                }
                                return (success * 100 / ele.data().quantity).toString() + '%';
                            },
                        }
                    },
                ]
            });
        });


    });


</script>
</body>
</html>