<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vici - Visualization of Continuous Integration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" th:href="@{/styles/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/bootstrap/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/bootstrap/bootstrap-toggle.min.css}"/>

    <link rel="stylesheet" media="screen" th:href="@{/styles/cytoscape/cytoscape.js-panzoom.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/cytoscape/jquery.qtip.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/font-awesome/font-awesome.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/vici.qtip.css}"/>

    <link rel="stylesheet" media="screen" th:href="@{/styles/sidebar.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/main.css}"/>

    <script th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>

    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap-toggle.min.js}"></script>

    <script th:src="@{/js/cytoscape/cytoscape.min.js}"></script>
    <script th:src="@{/js/cytoscape/dagre.js}"></script>
    <script th:src="@{/js/cytoscape/cytoscape-dagre.js}"></script>
    <script th:src="@{/js/cytoscape/cytoscape-panzoom.js}"></script>
    <script th:src="@{/js/cytoscape/jquery.qtip.min.js}"></script>
    <script th:src="@{/js/cytoscape/cytoscape-qtip.js}"></script>

    <script th:src="@{/js/graph.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
<div id="main">
    <article>
        <div id="cy"></div>
    </article>

    <nav>
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Vici
                </a>
            </li>

            <li class="menu-item" data-value="aggregation">
                <a href="#">Aggregation</a>
            </li>
            <li class="menu-item" data-value="details">
                <a href="#">Details</a>
            </li>
            <li class="menu-item" data-value="eventChain">
                <a href="#">Event chain</a>
            </li>
            <li class="menu-item" data-value="live">
                <a href="#">Live</a>
            </li>
        </ul>
    </nav>

</div>


</body>
</html>