/* Structure */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#main {
    height: 100%;
    display: flex;
    flex-flow: row;
}

#main > article {
    background: #ffffff;
    flex: 1;
    /*order: 1;*/
}

#main > nav {
    width: 200px;
    /*flex: 200px;*/
    background: #000;
    /*order: 2;*/
}

.content-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.cy {
    overflow: hidden;
}

.non-cy {
    padding: 15px;
}

/* Sidebar */
li.active {
    background-color: #c9e2b3;
}

/* Loader */
.loader {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #555555;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 2;
}

.overlay {
    position: fixed;
    /*display: none;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .8);
    z-index: 1;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Help container */
.node-row {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.node-col {
    display: inline-block;
    text-align: center;
    width: 200px;
}

/* Buttons */

.btn, .form-control, .input-group-addon {
    border-radius: 2px;
}

/* Settings */

.settings-container {
    max-width: 600px;
}

.settings-row {
    margin-bottom: 6px;
}

.panel {
    margin-bottom: 4px;
}

.bootstrap-select {
    width: 100% !important;
}

.menu-item-extra {
    display: block;
    font-style: oblique;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item.disabled {
    background-color: #4a4a4a;

    pointer-events: none;
    cursor: default;

}

.repo_id-span {
    display: none;
}

/* Plot styles */

.vis-graph-result {
    stroke-width: 1;
    stroke: black;
    fill: none;
}

.vis-graph-inconclusive {
    stroke-width: 0;
    fill: silver;
    fill-opacity: 0.5;
}

.vis-graph-success {
    stroke-width: 0;
    fill: green;
    fill-opacity: 0.5;
}

.vis-graph-fail {
    stroke-width: 0;
    fill: red;
    fill-opacity: 0.5;
}

.legend-container {
    margin: 0;
}

.legend-toggle-container {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    padding: 15px 0 0;
}

.vis-fill {
    fill-opacity: 0.1;
    stroke: none;
}

.vis-bar {
    fill-opacity: 0.5;
    stroke-width: 1px;
}

.vis-point {
    stroke-width: 2px;
    fill-opacity: 1.0;
}

.vis-legend-background {
    stroke-width: 1px;
    fill-opacity: 0.9;
    fill: #ffffff;
    stroke: #c2c2c2;
}

.vis-outline {
    stroke-width: 1px;
    fill-opacity: 1;
    fill: #ffffff;
    stroke: #e5e5e5;
}

.vis-icon-fill {
    fill-opacity: 0.3;
    stroke: none;
}

svg.legend-icon {
    margin-left: 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
}

